@charset "utf-8";

@font-face {
	font-family: GothamZZ;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/GothamSSm-Book_Web.woff2) format("woff2");
}

.thumb, h1, h2 {
	text-align: center;
}


.centered-list {
  text-align: center; /* Center the text within the container */
}

.centered-list ul {
  list-style: none; /* Remove default list bullets */
  padding: 0; /* Remove default list padding */
}
a, h1, h2, h3, li, p {
	color: #fff;
	font-family: GothamZZ, sans-serif;
}

body {
	height: 100%;
	background-color: #1f1f1f;
	margin: 0;
}

.svg {
	height: 100px;
	fill: #1f1f1f;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#vid {
	border: 3px solid #00f;
}

.thumb {
	display: inline-block;
	margin: 20px;
}

button {
	background-color: #1f1f1f;
	border-radius: 5px;
	color: #fff
}

.thumb:focus-within img {
	outline: 2px solid #fff;
}

img {
	border-radius: 10px;
}

.socials-sponsors {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socials-sponsors p {
	margin-bottom: 10px;
}

.socials-sponsors a {
	margin-right: 10px;
}

.container {
	min-height: 100%;
	position: relative;
}

.content {
	position: absolute;
	bottom: 0;
}

.exlargeimg, .largeimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

#images > .mediumimg {
 display: block;
  margin-left: auto;
  margin-right: auto;
}

.largeimg {
	width: 50%;
}

.mediumimg {
	width: 500px;
	margin: 10px;
}

.smallimg {
	width: 200px;
	margin: 30px;
}

#info, #more-info, .smallimg {
	text-align: center;
}

.otherlittleimg {
	height: 100px;
	margin: 10px;
}

.littleimg, .tinyimg {
	width: 100px;
	margin: 10px;
}

.tinyimg {
	width: 50px;
}

.center {
	text-align: center;
}

.preview {
	text-decoration: none;
}

.grid-container, .grid-container-home {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3, 100px);
	grid-gap: 10px;
}

.grid-container-home {
	grid-template-columns: 20% 79%;
}

.grid-item {
	border-right: 1px;
	margin: 10px;
}

.hamburger {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 9999;
}

.hamburger-bar {
	width: 100%;
	height: 3px;
	background-color: #1f1f1f;
	margin-bottom: 5px;
}

.theme {
	/* margin: 1%; */
	border-radius: 25px;
	background-color: #1f1f1f;
	color: #fff;
	padding: 8px 16px;
}

.green {
	box-shadow: inset 0 0 0 2px #0f0;
}

.red {
	box-shadow: inset 0 0 0 2px #f00;
}

.blue {
	box-shadow: inset 0 0 0 2px #00f;
}

.hamburger-bar:last-child {
	margin-bottom: 0;
}

.hamburger-box {
	color: #fff;
}

#links {
	text-align: center;
}

.side-menu {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	max-width: 100%;
	height: auto;
	background-color: #1f1f1f;
	z-index: 999;
	display: none;
	overflow: hidden;
	padding: 20px;
	box-sizing: border-box;
	border-left: 4px solid #fff;
	border-bottom: 4px solid #fff;
	border-radius: 0 0 0 25px;
}

#cookie-consent {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 250px;
	max-width: 100%;
	height: auto;
	background-color: #1f1f1f;
	z-index: 999;
	padding: 20px;
	box-sizing: border-box;
	border-left: 4px solid #fff;
	border-top: 4px solid #fff;
	border-radius: 25px 0 0 0;
}

.side-menu li {
	opacity: 0;
	transform: translateX(-20px);
	transition: opacity .2s ease-out, transform .2s ease-out;
	margin-bottom: 10px;
}

.side-menu.open {
	right: 0;
	display: grid;
}

.side-menu.open ul li {
	opacity: 1;
	transform: translateX(0);
}

.side-menu.open:after {
	content: "";
	position: absolute;
	top: 0;
	left: -250px;
	width: calc(250px + 4px);
	height: 100%;
	z-index: -1;
}

@media (max-width: 1320px) {
	.grid-container, .grid-container-home {
		display: inline;
	}

	.grid-item {
		border: 1px;
		margin: 10px;
	}
}

@media (max-width: 579px) {
	a, h1, h2, h3, li, p {
		color: #fff;
		font-family: GothamZZ, sans-serif;
	}

	body {
		height: 100%;
		background-color: #1f1f1f;
	}

	#vid {
		border: 3px solid #00f;
	}

	.thumb {
		display: inline-block;
		text-align: center;
		margin: 20px;
	}

	.space.thumb, img {
		border-radius: 10px;
	}

	.exlargeimg, .largeimg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 85%;
	}

	#info, #more-info, h1, h2 {
		text-align: center;
	}

	.largeimg {
		width: 50%;
	}

	.mediumimg {
		width: 300px;
		margin: 10px;
	}

	.smallimg {
		width: 200px;
		text-align: center;
		margin: 20px;
	}

	.littleimg {
		width: 100px;
		margin: 5px;
	}

	.space.thumb {
		outline: 3px solid #1f1f1f;
		margin: 10px;
	}

	.tinyimg {
		width: 50px;
		margin: 10px;
	}

	.center {
		text-align: center;
	}

	.preview {
		text-decoration: none;
	}

	.space {
		margin: 1px;
	}

	button {
		background-color: #1f1f1f;
		border-radius: 5px;
		color: #fff
	}

	.hamburger {
		position: fixed;
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 9999;
	}

	.hamburger-bar {
		width: 100%;
		height: 3px;
		background-color: #1f1f1f;
		margin-bottom: 5px;
	}

	.hamburger-bar:last-child {
		margin-bottom: 0;
	}

	.side-menu {
		position: fixed;
		top: 0;
		right: -250px;
		width: 250px;
		max-width: 100%;
		height: auto;
		background-color: #1f1f1f;
		transition: right .2s ease-out;
		z-index: 999;
		display: none;
		overflow: hidden;
		padding: 20px;
		box-sizing: border-box;
		border-left: 4px solid #fff;
		border-bottom: 4px solid #fff;
		border-radius: 0 0 0 25px;
	}

	.side-menu li {
		opacity: 0;
		transform: translateX(-20px);
		transition: opacity .2s ease-out, transform .2s ease-out;
	}

	.side-menu.open {
		right: 0;
		display: grid;
	}

	.side-menu.open ul li {
		opacity: 1;
		transform: translateX(0);
	}

	.otherlittleimg {
		height: 100px;
		margin: 5px;
	}

	.memberimg {
		margin: 0;
		display: inline;
	}

	.side-menu.open:after {
		content: "";
		position: absolute;
		top: 0;
		left: -250px;
		width: calc(250px + 4px);
		height: 100%;
		z-index: -1;
	}

	.container {
		min-height: 100%;
		position: relative;
	}

	main {
		padding-bottom: 100px;
	}

	.socials-sponsors {
		position: absolute;
		bottom: 0;
		width: 96%;
		left: 2%;
		height: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		/* overflow-x: hidden; */
		gap: 10px
	}

	.side-menu li, .socials-sponsors p {
		margin-bottom: 10px;
	}

	.socials-sponsors a {
		margin-right: 10px;
		text-align: center;
	}
	
	.socials-sponsors img {
		margin-right: 10px;
	}

	.hamburger-box {
		color: #fff;
	}
}
