@charset "utf-8";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.thumb, h1, h2 {text-align: center;}

.centered-list {text-align: center;}

.centered-list ul {list-style: none; /* Remove default list bullets */ padding: 0; /* Remove default list padding */}

a, h1, h2, h3, li, p {color: #fff; font-family: Helvetica, Helvetica Neue, Ubuntu,  Arial, sans-serif;}

body {height: 100%;	background-color: #1f1f1f; margin: 0;}

.vertical-center {margin: 0; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}

.thumb {display: inline-block; margin: 20px;}

.thumb:focus-within img {outline: 2px solid #fff;}

img {border-radius: 10px;}
	
.container {min-height: 100%;	position: relative;}

.content {position: absolute; bottom: 0;}

#info, #more-info, .smallimg {text-align: center;}

.center {text-align: center;}

.preview {text-decoration: none;}

.grid-container, .grid-container-home {display: grid;	grid-template-columns: 100%; grid-template-rows: repeat(3, 100px); grid-gap: 10px;}

.grid-container-home {grid-template-columns: 20% 79%;}

.grid-item {border-right: 1px; margin: 10px;}

.green {box-shadow: inset 0 0 0 2px #0f0;}

.red {box-shadow: inset 0 0 0 2px #f00;}

.blue {box-shadow: inset 0 0 0 2px #00f;}

#links {text-align: center;}

.socials-sponsors {text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;}

.center {width: 100%; margin: 0 auto;}

.pagetitle {position: absolute; top: 5%; width: 100%; margin: 0 auto; z-index: -1}

.caption {display: block;}

.footerHR {width: 50%;}

@media only screen and (min-width: 960px) {
	/* styles for browsers larger than 960px; */

	.galleryImg {
		width: 128px;
	}
	.logos {
		border-radius: 50%;
		width: 32px;
	}
	figure.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
	}
	img.frontpage {
		height: 64px;
		background-color: grey;
	}
	.frontpagelogo {
		height: 100px;
		width: 100px;
	}
	
	
	h1 {
		font-size: 3em; /* 40px/16=2.5em */ 
	}

	h2 {
		font-size: 2.2em; /* 30px/16=1.875em */ 
	}

	h3 {
		font-size: 1.8em; /* 30px/16=1.875em */
	}

	a, p, li {
		font-size: 1.2em; /* 14px/16=0.875em */ 
	}

}

@media only screen and (min-width: 1200px) {
	/* styles for browsers larger than 960px; */

	.galleryImg {
		width: 180px;
	}
	.logos {
		border-radius: 50%;
		width: 50px;
	}
	figure.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
	}
	img.frontpage {
		height: 64px;
		background-color: grey;
	}
	.frontpagelogo {
		height: 128px;
		width: 128px;
	}
	
	h1 {
		font-size: 3em; /* 40px/16=2.5em */ 
	}

	h2 {
		font-size: 2.2em; /* 30px/16=1.875em */ 
	}

	h3 {
		font-size: 1.8em; /* 30px/16=1.875em */
	}

	a, p, li {
		font-size: 1.2em; /* 14px/16=0.875em */ 
	}

}

@media only screen and (min-width: 1440px) {
		/* styles for browsers larger than 1440px; */

	.galleryImg {
		width: 256px;
	}
	.logos {
		border-radius: 50%;
		width: 64px;
	}
	figure.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 240px;
	}
	img.frontpage {
		height: 128px;
		background-color: grey;
	}
	.frontpagelogo {
		height: 128px;
		width: 128px;
	}
	
	h1 {
		font-size: 2em; /* 40px/16=2.5em */ 
	}

	h2 {
		font-size: 1.5em; /* 30px/16=1.875em */ 
	}

	h3 {
		font-size: 1.3em; /* 30px/16=1.875em */
	}

	a, p, li {
		font-size: 1em; /* 14px/16=0.875em */ 
	}
}

@media only screen and (min-width: 2000px) {
		/* for sumo sized (mac) screens */

	.galleryImg {
		width: 512px;
	}
	.logos {
		border-radius: 50%;
		width: 128px;
	}
	figure.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 240px;
	}
	img.frontpage {
		height: 256px;
		background-color: grey;
	}
	.frontpagelogo {
		height: 512px;
		width: 512px;
	}
	h1 {
		font-size: 5em; /* 40px/16=2.5em */ 
	}

	h2 {
		font-size: 3em; /* 30px/16=1.875em */ 
	}

	h3 {
		font-size: 2.6em; /* 30px/16=1.875em */
	}

	a, p, li {
		font-size: 2em; /* 14px/16=0.875em */ 
	}
}

@media only screen and (max-device-width: 480px) {
	 /* styles for mobile browsers smaller than 480px; (iPhone) */

	.galleryImg {
		width: 128px;
	}
	.logos {
		border-radius: 50%;
		width: 32px;
	}
	figure.item {
    vertical-align: top;
		top: -10%;
    display: inline-block;
    text-align: center;
    width: 240px;
	}
	img.frontpage {
		height: 0px;
		display: none;
		background-color: grey;
	}
	.frontpagelogo {
		height: 64px;
		width: 64px;
	}
	.pagetitle {position: absolute; top: 5%; width: 100%; margin: 0 auto; z-index: -1}

}

@media only screen and (max-device-width: 300px) {
	 /* styles for mobile browsers smaller than 480px; (iPhone) */

	.galleryImg {
		width: 128px;
	}
	.logos {
		border-radius: 50%;
		width: 32px;
	}
	figure.item {
    vertical-align: top;
		top: -10%;
    display: inline-block;
    text-align: center;
    width: 120px;
	}
	img.frontpage {
		height: 0px;
		display: none;
		background-color: grey;
	}
	.frontpagelogo {
		height: 64px;
		width: 64px;
	}
	.pagetitle {position: absolute; top: 5%; width: 100%; margin: 0 auto; z-index: -1}

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For portrait layouts only */

	.galleryImg {
		width: 128px;
	}
	.logos {
		border-radius: 50%;
		width: 50px;
	}
	figure.item {
    vertical-align: top;
		top: -10%;
    display: inline-block;
    text-align: center;
    width: 240px;
	}
	img.frontpage {
		height: 0px;
		display: none;
		background-color: grey;
	}
	.frontpagelogo {
		height: 100px;
		width: 100px;
	}
	h1 {
		font-size: 2em; /* 40px/16=2.5em */ 
	}

	h2 {
		font-size: 1.4em; /* 30px/16=1.875em */ 
	}

	h3 {
		font-size: 1em; /* 30px/16=1.875em */
	}

	a, p, li {
		font-size: 0.5em; /* 14px/16=0.875em */ 
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 960px) and (orientation:landscape) {
	/* For landscape layouts only */

	.galleryImg {
		width: 128px;
	}
	.logos {
		border-radius: 50%;
		width: 50px;
	}
	figure.item {
    vertical-align: top;
		top: -10%;
    display: inline-block;
    text-align: center;
    width: 240px;
	}
	img.frontpage {
		height: 0px;
		display: none;
		background-color: grey;
	}
	.frontpagelogo {
		height: 100px;
	width: 100px;}
}


