@charset "utf-8";
h1,h2,h3{color:#b3c808;font-family:Helvetica,sans-serif;text-align:center}
p,a{color:#b3c808;font-family:Helvetica,sans-serif}
body{height:100%;background-color:#0F222A;}
#vid{border:3px solid #00f}
.thumb {
    display: inline-block; /* or use 'block' if you want it to take up full width */
    text-align: center; /* optional: centers the content horizontally */
    margin: 20px; /* optional: adds spacing between the text and image */
}
    .thumb:focus-within img {
        outline: 2px solid #b3c808;
    }
img{
	border-radius: 10px}
.smallimg{
	width: 200px;
}